{% extends "layouts/layout.html" %}

{% block title %}Страница пользователя{% endblock %}

{% block user_reg %}
{% if username %}
<li><a href="/logout" class="text-white">Выйти из аккаунта</a></li>
{% else %}
{{parent()}}
{% endif %}
{% endblock %}

{% block mainaction%}
{% if username %}
<section class="jumbotron text-center">

    <div class="container">
        <h1 class="jumbotron-heading">Привет, {{username}}!</h1>
        <p class="lead text-muted">Ты можешь загрузить, или просмотреть свои изображения</p>
        <p>
            <a href="/{{image_authorref}}/user_profile" class="btn btn-secondary my-2">Мои изображения</a>
        </p>
    </div>

</section>
{% else %}
{{parent()}}
{% endif %}
{% endblock %}

{% block imagesfield %}
<div class="container">
    <div class="p-3 mb-2 bg-dark text-white align-text-top">{{image_name}}</div>
        <img  src="{{image_source}}" class="img-fluid">
        {% if delete_button %}
    <div class="align-bottom align-self-center">
        <form method="post" action="/view/{{image_authorref}}/{{image_id}}">
            <button type="submit">Удалить</button>
        </form>

    </div>

        {% endif %}


</div>

{% endblock %}