{% extends "layouts/layout.html" %}

{% block title %}Страница пользователя{% endblock %}

{% block user_reg %}
{% if username %}
<li><a href="/logout" class="text-white">Выйти из аккаунта</a></li>
{% else %}
{{parent()}}
{% endif %}
{% endblock %}

{% block mainaction%}
{% if username %}
<section class="jumbotron text-center">

    <div class="container">
        <h1 class="jumbotron-heading">Привет, {{username}}!</h1>
        <p class="lead text-muted">Ты можешь загрузить, или просмотреть свои изображения</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Загрузить Изображение</a>
        </p>
    </div>

</section>
{% else %}
{{parent()}}
{% endif %}
{% endblock %}

{% block imagesfield %}
{% for image_source in image_array %}
{% block image %}
{{parent()}}
{% endblock %}
{% endfor %}
{% endblock %}